@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

.cardEle {
    font-family: 'Merriweather', serif;
}

.MuiExpansionPanel-root {
    padding: 0px;
    line-height: 0px;
}

.MuiCard-root {
    padding: 10px;
}