body,html {
  
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div {
  display: inline-block;
  font-family: 'Merriweather', serif;
}

.header {
  background-color: #142850;
  background-size: cover;
  font-family: 'Merienda One', cursive;
  padding: 10px;
  font-size: 350%;
  color: white;
  display: block;
}