body {
  margin: 0;
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div {
  
  display: inline-block;
  font-family: 'Merriweather', serif;
}
 p {
  font-family: 'Merienda One', cursive;
  font-size: 350%;
 }